* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
}

.gridPlayers {
    display: flex;
    justify-content: space-between;
}

/* PLAYERS */
.gridPlayers .players {
    background-color: aqua;
    height: 100vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gridPlayers .players h2 {
    font-size: 4rem;
}

.gridPlayers .players select {
    margin: 1rem;
    padding: 1rem 2rem;
    font-size: 1.3rem;
}


/* BOARD */
.gridPlayers .board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;

}

/* BUTON BOARD */
.gridPlayers .board button {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: black;
    color: white;
    cursor: pointer;


}